<?xml version="1.0" encoding="utf-8"?>
<robot name="Assembly.SLDASM">

  <link name="base_link">
    <inertial>
      <origin xyz="0.63876 0.82639 1.3202" rpy="0 0 0" />
      <mass value="0.20106" />
      <inertia ixx="0.00032337" ixy="-3.0943E-19" ixz="-3.4728E-20"
               iyy="0.0006434"  iyz="1.0638E-18"  izz="0.00032337" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="G:\My Drive\الكلية\Junior\Mechatronics Design\HILAL Project\Mechanical Design\HILAL Arm URDF File\Beta_V4\Assembly.SLDASM\urdf\meshes\base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="G:\My Drive\الكلية\Junior\Mechatronics Design\HILAL Project\Mechanical Design\HILAL Arm URDF File\Beta_V4\Assembly.SLDASM\urdf\meshes\base_link.STL" />
      </geometry>
    </collision>
  </link>

  <link name="Link_1">
    <inertial>
      <origin xyz="0.0089305 -0.050196 -0.00026756" rpy="0 0 0" />
      <mass value="0.25677" />
      <inertia ixx="0.00037997" ixy="7.6968E-05"  ixz="7.2318E-07"
               iyy="0.00037754" iyz="-1.3219E-06" izz="0.00032928" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="G:\My Drive\الكلية\Junior\Mechatronics Design\HILAL Project\Mechanical Design\HILAL Arm URDF File\Beta_V4\Assembly.SLDASM\urdf\meshes\Link_1.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="G:\My Drive\الكلية\Junior\Mechatronics Design\HILAL Project\Mechanical Design\HILAL Arm URDF File\Beta_V4\Assembly.SLDASM\urdf\meshes\Link_1.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="Joint_1" type="revolute">
    <origin xyz="0.63876 -1.3252 0.81339" rpy="-1.5708 0 -1.5708" />
    <parent link="base_link" />
    <child link="Link_1" />
    <axis xyz="0 0 1" />
    <limit lower="-1.5708" upper="1.5708" effort="10" velocity="1.0" />
  </joint>

  <link name="Link_2">
    <inertial>
      <origin xyz="0.065 0.010109 -1.4014E-07" rpy="0 0 0" />
      <mass value="0.13081" />
      <inertia ixx="3.1993E-05"  ixy="-1.6397E-11" ixz="3.6928E-11"
               iyy="0.00033934" iyz="2.3558E-10"   izz="0.00031647" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="G:\My Drive\الكلية\Junior\Mechatronics Design\HILAL Project\Mechanical Design\HILAL Arm URDF File\Beta_V4\Assembly.SLDASM\urdf\meshes\Link_2.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="G:\My Drive\الكلية\Junior\Mechatronics Design\HILAL Project\Mechanical Design\HILAL Arm URDF File\Beta_V4\Assembly.SLDASM\urdf\meshes\Link_2.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="Joint_2" type="revolute">
    <origin xyz="0.003 -0.068 0.13" rpy="1.5708 1.5708 0" />
    <parent link="Link_1" />
    <child link="Link_2" />
    <axis xyz="0 0 1" />
    <limit lower="-1.5708" upper="1.5708" effort="10" velocity="1.0" />
  </joint>

  <link name="Link_3">
    <inertial>
      <origin xyz="0.030371 -1.2826E-05 -0.054604" rpy="0 0 0" />
      <mass value="0.17924" />
      <inertia ixx="0.00043174" ixy="-7.9191E-08" ixz="-7.5399E-08"
               iyy="0.00043232" iyz="2.1412E-07"  izz="9.2344E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="G:\My Drive\الكلية\Junior\Mechatronics Design\HILAL Project\Mechanical Design\HILAL Arm URDF File\Beta_V4\Assembly.SLDASM\urdf\meshes\Link_3.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="G:\My Drive\الكلية\Junior\Mechatronics Design\HILAL Project\Mechanical Design\HILAL Arm URDF File\Beta_V4\Assembly.SLDASM\urdf\meshes\Link_3.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="Joint_3" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 -1.5708" />
    <parent link="Link_2" />
    <child link="Link_3" />
    <axis xyz="0 0 1" />
    <limit lower="-1.5708" upper="1.5708" effort="10" velocity="1.0" />
  </joint>

  <link name="Link_4">
    <inertial>
      <origin xyz="-0.019729 -0.0050414 -0.013589" rpy="0 0 0" />
      <mass value="0.034095" />
      <inertia ixx="2.7862E-05" ixy="-2.3423E-06" ixz="4.6109E-06"
               iyy="4.8417E-05" iyz="3.2221E-06"  izz="2.6215E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="G:\My Drive\الكلية\Junior\Mechatronics Design\HILAL Project\Mechanical Design\HILAL Arm URDF File\Beta_V4\Assembly.SLDASM\urdf\meshes\Link_4.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="G:\My Drive\الكلية\Junior\Mechatronics Design\HILAL Project\Mechanical Design\HILAL Arm URDF File\Beta_V4\Assembly.SLDASM\urdf\meshes\Link_4.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="Joint_4" type="revolute">
    <origin xyz="0.0067669 -0.01531 -0.17117" rpy="0 0.53715 -3.1416" />
    <parent link="Link_3" />
    <child link="Link_4" />
    <axis xyz="0 0 1" />
    <limit lower="-1.5708" upper="1.5708" effort="10" velocity="1.0" />
  </joint>

</robot>
