<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Assembly.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-2.22044604925031E-16 0.00500000000000023 -0.00499999999999767"
        rpy="0 0 0" />
      <mass
        value="0.201061929829747" />
      <inertia
        ixx="0.000323374603809509"
        ixy="-3.09432309375888E-19"
        ixz="-3.47283508374262E-20"
        iyy="0.000643398175455189"
        iyz="1.06382106690128E-18"
        izz="0.000323374603809509" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assembly.SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assembly.SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="-0.000267555465881419 -0.0139305309579991 0.0321964237022623"
        rpy="0 0 0" />
      <mass
        value="0.256765494419994" />
      <inertia
        ixx="0.000329283641030161"
        ixy="-7.23177242972353E-07"
        ixz="1.32193832728189E-06"
        iyy="0.00037997097567768"
        iyz="7.69676163119527E-05"
        izz="0.000377544614662834" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assembly.SLDASM/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assembly.SLDASM/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1"
    type="revolute">
    <origin
      xyz="0 0.01 -0.005"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="0.064999977330941 1.40136944493108E-07 -0.010109497164507"
        rpy="0 0 0" />
      <mass
        value="0.13081346914469" />
      <inertia
        ixx="3.19933477457962E-05"
        ixy="3.69281468821262E-11"
        ixz="-1.6396538122102E-11"
        iyy="0.000316470986061007"
        iyz="2.35582270110264E-10"
        izz="0.000339337197206022" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assembly.SLDASM/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assembly.SLDASM/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2"
    type="revolute">
    <origin
      xyz="0 -0.008 0.05"
      rpy="1.5708 0 0" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="1.28247072108678E-05 0.0546040464942854 0.0303712683102664"
        rpy="0 0 0" />
      <mass
        value="0.17924252226062" />
      <inertia
        ixx="0.000432319012873528"
        ixy="2.14127527478737E-07"
        ixz="7.91912023536117E-08"
        iyy="9.23438538859116E-05"
        iyz="7.53992440195518E-08"
        izz="0.000431735729782239" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assembly.SLDASM/meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assembly.SLDASM/meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint3"
    type="revolute">
    <origin
      xyz="0.13 0 0"
      rpy="0 0 0" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Gripper">
    <inertial>
      <origin
        xyz="0.005458620488907 0.00222956944552055 0.0427518184622961"
        rpy="0 0 0" />
      <mass
        value="0.0340947397477871" />
      <inertia
        ixx="4.84174561974046E-05"
        ixy="-3.63687790421784E-07"
        ixz="-3.96686657470252E-06"
        iyy="3.14847609958565E-05"
        iyz="-1.47264733719088E-06"
        izz="2.25922567275681E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assembly.SLDASM/meshes/Gripper.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assembly.SLDASM/meshes/Gripper.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint4"
    type="revolute">
    <origin
      xyz="0.0048102 0.13 0.0329"
      rpy="-1.5708 0 0" />
    <parent
      link="Link3" />
    <child
      link="Gripper" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>